@import "./core/variables.scss";

.trend {
  background-color: $dark;
  color: #ffffff;
  padding: 20px;

  h3 {
    font-family: "Rubik", Geneva, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 20px;
  }

  & > div {
    background-color: $dark-light;
    border-radius: 5px;
    padding: 20px;

    p {
      margin-bottom: 20px;

      span {
        display: block;
        color: $blue-grey;
        margin-top: 5px;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
}
